//Typography

$font-title: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;

$font-size-main: 14px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-text: 12px;

$bold: 700;

//Colors
$white: #fff;
$gray-light: #e1e1e1;
$gray-lighten: #f8f8f8;
$gray: #777;
$gray-darken: #555;
$red-light: #c0301c;

// Media query

$desktop: 1024px;
$tablet: 992px;
$mobile: 768px;
